DATABASE_URL="postgresql://postgres:PASSWORD@127.0.0.1:5432/app_afiliados_genexus?schema=public&connection_limit=10&pool_timeout=30"
AUTH_SECRET="CAMBIAR_POR_32_CARACTERES_ALEATORIOS_SEGURO"
AUTH_URL="http://localhost:3001"
BACKEND_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3001"
NEXT_PUBLIC_APP_NAME="App Afiliados"
